{% extends 'base.html' %}



{% block content %}


<div class="container">
    <h1 class="text-center">Add New Purchase</h1>
    <div class="row justify-content-center">
        <div class="col-lg-7">
            <div class="card px-3 py-3">
    <form method="post" action="{% url 'add_purchased_product' %}">
        {% csrf_token %}
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Store</label>
        <select name="store" id="store" class="form-select">
            <option selected>Select Store</option>
            {% for store in stores %}
                <option value="{{ store.id }}">{{ store.name }}</option>
            {% endfor %}
        </select></div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Product</label>
        <select name="product" id="product" class="form-select">
            <option selected>Select Product</option>
            {% for product in products %}
                <option value="{{ product.id }}">{{ product.name }}</option>
            {% endfor %}
        </select></div>

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Supplier</label>
        <select name="supplier" id="supplier" class="form-select">
            <option selected>Select Supplier</option>
            {% for supplier in suppliers %}
                <option value="{{ supplier.id }}">{{ supplier.name }}</option>
            {% endfor %}
        </select></div>

        <label for="quantity">Quantity:</label>
        <input type="number" class="form-control" name="quantity" id="quantity" required><br>

        <label for="unit_price">Unit Price:</label>
        <input type="number" class="form-control" step="0.01" name="unit_price" id="unit_price" required><br>

        <input type="submit" value="Add Purchase" class="btn btn-success btn-lg">
    </form>
        </div>
        </div>
    </div>
</div>


{% endblock %}





